<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 d-flex justify-content-between flex-column align-items-center bio">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar text-center  dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
      <h1 class="text-center">user name</h1>
      <p class="text-center">i'm just young dumb and broke, but i'm legend tho</p>
    </div>
    <div class="text-center my-2 col-8 d-flex justify-content-around align-items-center">
        <div><div><strong>4.9</strong></div><div>Rating</div></div>
        <div><div></div><div>10</div> <div>concerts</div></div>
    </div>
    <div class="text-center my-2 col-8 d-flex justify-content-between align-items-center btnFlex">
      <button class="btn-orange">msg</button>
      <button class="btn-orange">conncet</button>
    </div>
    <div class="d-flex justify-content-between flex-column mt-4 col-8">
      <strong>Latest concerts</strong>
      <div class="card-grid_scroll">
        <% @concerts.each do |concert| %>
          <div class="card card__background" style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
            <div class="card__content">
              <p class="card__category"><%= concert.date %></p>
              <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
              <p class="card__category"><%= concert.address %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
