$br-radius: 2em;

.card-grid_scroll {
  display: flex;
  overflow: scroll;
  gap: .6em;
  scrollbar-color: none;
  scroll-snap-type: none;
  .card__heading{
    color: rgba(255,255,255,0.9) !important;
    font-size: 1.3rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1;
    word-spacing: 100vw;
    font-weight: bold;
  }
}

.card-grid_column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: .8em;
  .card__heading{
    color: rgba(255,255,255,0.9) !important;
    font-size: 1.4rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1;
    word-spacing: 100vw;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .card-grid_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .card__heading{
      color: rgba(255,255,255,0.9) !important;
      font-size: 1.8rem;
      text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
      line-height: 1;
      word-spacing: 100vw;
      font-weight: bold;
    }
  }

  .card-grid_scroll {
    .card__heading{

      font-size: 1.8rem;
    }
  }
}

.card_column {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: .8em;
  .card__heading{
    color: rgba(255,255,255,0.9) !important;
    font-size: 1.4rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1;
    word-spacing: 100vw;
    font-weight: bold;
  }
}

.card {
  width: 70%;
  height: 18em;
  position: relative;
  border-radius: $br-radius;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  a {
    text-decoration: none;
  }
  flex: 0 0 auto;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .card {
    width: 30%;
    height: 20em;
  }
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
    border-radius: $br-radius;
}

.attendee-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__content{
  left: 0;
  padding: 1.3em;
  position: absolute;
  bottom: 0;
  color: white;
}

#card-fullname {
  color: orange;
  margin: 0;
}

.card__category{
  color: rgba(255,255,255,0.6);
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
  display: inline-block;
}

.card  {
  position: relative;
}

.form-group-container{
  width: 100%;
  position: absolute;
  background-color: rgba(44, 44, 44, 0.496);
  height: inherit;
  border-radius: inherit;
  z-index: 999;
}

.location {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  padding: .3em .6em;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}


.attendee-card {
  background-color: rgba(240, 240, 240, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: .8em;
  padding: 1em .6em;
  border-radius: .8em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: .8em;
  font-weight: bold;
}


.card-value {
  padding: 1em 1.3em;
  text-align: center;
  img {
    width: fit-content;
    margin-bottom: 1.8em;
    width: 65%;
    height: 10em;
  }
  h3 {
    font-weight: bold;
  }
}


/*********/

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: var($br-radius);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: var($br-radius);
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
