.container-center {
  height: 120vh;
  display: flex;
  margin-top: -20%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: #faa237;  /* fallback for old browsers */
  background: linear-gradient(to left, #fece7bd8, #faa237); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.full-page-orange  {
  padding: 2em 0;
  background: linear-gradient(to left, #fece7bd8, #faa237)
}
