.footer-map {
  z-index: 999;
  padding: .8em;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-radius: 1em 1em 0 0;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.footer_content {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    z-index: 999;
    margin: 0;
  }
}


.footer-chatroom {
  z-index: 999;
  padding: .8em;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.811);
  border-radius: 1em 1em 0 0;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  textarea {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
  }
  .text-field{
    margin: 0 !important;
  }

}

.footer-btn {
  z-index: 999;
  position: fixed;
  bottom: 1em;
  right: 0;
  top: 90vh;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.footer{
  padding: 2em;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  background-blend-mode: overlay;
  color: white;
  .list {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2;
  }
}

.list  {
  li a:hover {
    text-decoration: wavy;

  }
}
