.footer-map {
  z-index: 999;
  padding: .8em;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-radius: 1em 1em 0 0;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.footer_content {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    z-index: 999;
    margin: 0;
  }
}


.footer-chatroom {
  z-index: 999;
  padding: .8em;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.811);
  border-radius: 1em 1em 0 0;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  textarea {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
  }
  .text-field{
    margin: 0 !important;
  }
}

.footer-btn {
  -webkit-box-pack: center !important;
  position: relative !important;
  display: flex !important;
  visibility: visible !important;
  justify-content: center !important;
  z-index: 8 !important;
  white-space: nowrap !important;
  transition: -ms-transform 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s, opacity 0.15s linear 0s, visibility 0s ease 0s !important;
  margin-bottom: 24px !important;
  opacity: 1 !important;
}
