// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
//   position: absolute;
//   top: 0;
// }

.nav-absolute {
  padding-bottom:133px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.signInOrSignUp{
  // gap:20px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
nav{
  padding: 12px 16px ;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 10%;
}
