nav.stroke {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
  gap: 1em;

}

nav.stroke div {
  position: relative;
}

nav.stroke div:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke div:hover:after {
  width: 100%;
}
nav.stroke div:active:after {
  width: 100%;
}
nav.stroke div:focus:after {
  width: 100%;
}


nav.categories_tabs {
  background-color: transparent;
  padding: 0px 1em;

  .tab {
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      background-color: transparent;
    }

  }
  ::-webkit-scrollbar {
    display: none;
  }
  p {
    font-size: 12px;
  }
  i {
    font-size: 24px;
  }
}

.tab-container {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -15px;
}
