nav.stroke {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 1em;

}

nav.stroke div {
  position: relative;
}

nav.stroke div:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke div:hover:after {
  width: 100%;
}

nav {
  background-color: transparent;
  .tab {
    width: 4em;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

    button {
      background-color: transparent;
    }

  }
}
